body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(22, 116, 22),
    #000000
  ); /* gradient from blue to black! */
  background-attachment: fixed; /* This fixes the gradient to the viewport so that it will always look the same regardless of us scrolling */
  margin-left: 28%;
}

/* Align all h1's for the website, this is for all the navbar item's main text at the top */
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

label {
  color: white;
}

/* Styling a tags to not show the underline, and be white color text */
a {
  text-decoration: none;
  color: white;
}

/**************** Styling update and delete buttons ***********************/

/* Styling for update and delete buttons to be left right in a flex box */

.button-wrapper {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Gap between buttons */
}

/* End of styling buttons to be left right in a flex box */

.update-button {
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.delete-button {
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
}

.update-button:hover {
  /* border: 3px solid rgb(39, 201, 39); */
  border: 3px solid orange;
}

.delete-button:hover {
  border: 3px solid orange;
}

/***************** End of styling update and delete buttons  *******************/

/***************** Styling border and hover  *******************/
img {
  border: 2px solid transparent; /* Reserve space for the border so that when we hover it, it doesn't shift things around */
}
img:hover {
  border: 2px solid white;
}

/***************** End of Styling border and hover  *******************/

.modal-message {
  color: white;
}

.form {
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 25px;
  max-width: 700px;
  margin: auto;
}

/** Adding a bit of space between the album images */
.album-img {
  margin-top: 15px;
}

.like-button {
  font-weight: bold;
  border: 3px solid black;
  padding: 5px;
  border-radius: 15px;
}

.like-button:hover {
  border: 3px solid orange;
}
