

body {
background-color: #000000;
}

/* Align all h1's for the website, this is for all the navbar item's main text at the top */
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
}

label {
  color: white;
}

/* Styling a tags to not show the underline, and be white color text */
p {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.artist {
  color: gray;
  font-style: italic;
  font-size: large;
}

/**************** Styling update and delete buttons ***********************/

/* Styling for update and delete buttons to be left right in a flex box */

.button-wrapper {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Gap between buttons */
}

/* End of styling buttons to be left right in a flex box */

.update-button {
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.delete-button {
  font-weight: bold;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
}

.update-button:hover {
  /* border: 3px solid rgb(39, 201, 39); */
  border: 3px solid orange;
}

.delete-button:hover {
  border: 3px solid orange;
}

button:hover:not(#home-profile button) {
  box-shadow: 1px 2px 2px #6d6e6d;
  transform: translateY(-5px);
  border: 2px solid #242424;
}

/***************** End of styling update and delete buttons  *******************/

/***************** Styling border and hover  *******************/
img:not(.user-logo) {
  border: 2px solid black; /* Reserve space for the border so that when we hover it, it doesn't shift things around */
}
img:hover:not(.user-logo) {
  border: 2px solid white;
}

/***************** End of Styling border and hover  *******************/

.modal-message {
  color: white;
}

.form {
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 25px;
  max-width: 700px;
  margin: auto;
}

/** Adding a bit of space between the album images */
.album-img {
  margin-top: 15px;
  border-radius: 10px;
}
.album-img:hover {
  box-shadow: 2px 4px 4px #6d6e6d;
  transform: translateY(-5px);
  border: 2px solid #242424;
}


.like-button {
  font-weight: bold;
  border: 3px solid black;
  padding: 5px;
  border-radius: 15px;
}

/********* This is a terrible way to style one button that I just can't figure out how to target, but oh well, it works */
/* This also styles the modal buttons (like the profile dropdown on the top left) and the modal buttons when we open them since those don't have specific styling on them right now */
button:not(#home-profile button) {
  font-weight: bold;
  border: 3px solid black;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  /* margin-left: 15px; */
}

button:hover {
  border: 3px solid orange;
}

.like-button:hover {
  border: 3px solid orange;
}

/********* styling the login/signup form when user is logged out  ************/
.home-page-form button {
  font-size: 16px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 0px 5px 0px 5px;
  height: 100%;
  cursor: pointer;
}

.home-page-form button:hover {
  border: 3px solid orange;
}

.profile-dropdown {
  list-style-type: none;
  padding: 10px;
  margin-top: 15px;
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
}



.profile-dropdown button {
  width: 70px !important;
}

/* This global modal-content css makes the signup form text turn black now */
#modal-content * {
  color: black;
}

#modal-content {
  padding: 10px;
  border-radius: 15px;
  border: 3px solid black;
  margin-left: 300px; /* Shift it to be a bit more left because of our left nav bar */
}

#modal-content button {
  margin-left: 20px;
}

#modal-content button:hover {
  border: 3px solid orange;
}

form {
  color: red;
}

label {
  display: block;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: -10px !important;
}

.demo-button {
  margin-left: 20px;
}

/********* Jamie CSS ************/

/* #root {
  border: solid black 1px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(7, 44, 3),
    #000000
  );
  background-attachment: fixed;
  margin-left: 25.5%;
} */
