#home-profile {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: start; /* Align items to the start of the container */
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

/* Home logo styling */
.home-logo {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.navbar-container {
  background-color: #1f1e1e;
  position: fixed; /* Make it stick to the window */
  left: 0; /* Left and top 0 makes the navbar start from the top left and hug the left side of the screen */
  top: 0;
  height: 100%;
  width: 25%;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling if the content overflows */
  border-right: 3px solid white;
}

/* Hide scroll bar */
.navbar-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

#home-profile {
  background-color: #1f1e1e;
  padding: 16px;
  margin-bottom: 10px;
}

#nav-links {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  flex-wrap: wrap; /* Wrap onto next line if overflow or run out of space */
  padding: 16px;
  gap: 16px; /* Gap between links */
  border-bottom: 3px solid white;
}

.active-link {
  color: rgb(39, 201, 39) !important;
}

#nav-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3c3c;
  color: white;
  width: 105px;
  height: 35px;
  border-radius: 15px; /* Rounded edges */
  text-decoration: none;
}

#nav-links a:hover {
  background-color: #575757;
}

/* STYLING THE SIZE OF THE ALBUM IMAGES! */
.album-img {
  width: 150px;
  height: 150px;
}
